[submodule "Nano"]
	path = Nano
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_nano.git
[submodule "Pages"]
	path = Pages
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_pages.git
[submodule "Reaktor"]
	path = Reaktor
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_reaktor.git
[submodule "Scene"]
	path = Scene
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_scene.git
[submodule "Tempo"]
	path = Tempo
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_tempo.git
[submodule "Timer"]
	path = Timer
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_timer.git
[submodule "Notes"]
	path = Notes
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_notes.git
[submodule "cc-decoder"]
	path = cc-decoder
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/cc-decoder.git
[submodule "cc-encoder"]
	path = cc-encoder
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/cc-encoder.git
[submodule "meta_cue"]
	path = meta_cue
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_cue.git
[submodule "meta_display"]
	path = meta_display
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_display.git
[submodule "meta_keys"]
	path = meta_keys
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_keys.git
[submodule "meta_knob"]
	path = meta_knob
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_knob.git
[submodule "meta_knobhub"]
	path = meta_knobhub
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_knobhub.git
