[submodule "cc-decoder"]
	path = cc-decoder
url=https://github.com/AdrianArtacho/CC-Decoder.git
[submodule "cc-encoder"]
	path = cc-encoder
url=https://github.com/AdrianArtacho/CC-Encoder.git
[submodule "meta_cue"]
	path = meta_cue
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_cue.git
[submodule "meta_display"]
	path = meta_display
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_display.git
[submodule "meta_keys"]
	path = meta_keys
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_keys.git
[submodule "meta_knob"]
	path = meta_knob
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_knob.git
[submodule "meta_knobhub"]
	path = meta_knobhub
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_knobhub.git
[submodule "meta_launcher"]
	path = meta_launcher
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_launcher.git
[submodule "meta_nano"]
	path = meta_nano
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_nano.git
[submodule "meta_notes"]
	path = meta_notes
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_notes.git
[submodule "meta_pages"]
	path = meta_pages
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_pages.git
[submodule "meta_reaktor"]
	path = meta_reaktor
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_reaktor.git
[submodule "meta_scene"]
	path = meta_scene
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_scene.git
[submodule "meta_tempo"]
	path = meta_tempo
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_tempo.git
[submodule "meta_timer"]
	path = meta_timer
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_timer.git
[submodule "meta_checklist"]
	path = meta_checklist
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_checklist.git
[submodule "meta_apckey25"]
	path = meta_apckey25
url=https://github.com/AdrianArtacho/META_apckey25.git
[submodule "meta_link"]
	path = meta_link
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_link.git
[submodule "meta_toggle"]
	path = meta_toggle
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_toggle.git
[submodule "meta_switch"]
	path = meta_switch
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_switch.git
[submodule "meta_xy"]
	path = meta_xy
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_xy.git
[submodule "meta_pedals"]
	path = meta_pedals
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_pedals.git
[submodule "meta_fetch"]
	path = meta_fetch
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_fetch.git
[submodule "meta_tab"]
	path = meta_tab
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_tab.git
[submodule "meta_ecosia"]
	path = meta_ecosia
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_ecosia.git
[submodule "meta_cheatsheet"]
	path = meta_cheatsheet
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_cheatsheet.git
[submodule "meta_focus"]
	path = meta_focus
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_focus.git
[submodule "meta_push"]
	path = meta_push
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_push.git
[submodule "meta_touch"]
	path = meta_touch
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_touch.git
[submodule "META_pointer"]
	path = META_pointer
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_pointer.git
[submodule "bend2CC"]
	path = bend2CC
	url = https://github.com/AdrianArtacho/bend2CC.git
[submodule "CC2switch"]
	path = CC2switch
url=https://github.com/AdrianArtacho/cc2switch.git
[submodule "meta_panswap"]
	path = meta_panswap
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/meta_panswap.git
[submodule "CC-Decoder"]
	url = https://github.com/AdrianArtacho/CC-Decoder.git
[submodule "CC-Encoder"]
	url = https://github.com/AdrianArtacho/CC-Encoder.git
[submodule "META_apckey25"]
	url = https://github.com/AdrianArtacho/META_apckey25.git
[submodule "META_cheatsheet"]
	url = https://github.com/AdrianArtacho/META_cheatsheet.git
